html{
    scroll-behavior: smooth;
  }
  #navbar {
   position: fixed;
   left: 0px;
    top: 0px;
    min-width: 290px;
    width: 310px;
    border: 1px solid black;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  header{
    font-size: 1.8em;
    margin: 10px;
     margin-left: 0px;
     color: rgba(60, 179, 150, 1);
     padding: 10px;
     text-decoration: underline;
  }
  #navbar header{
    font-weight: 600;
  }
  #navbar li{
    list-style: none;
  }
  #navbar a{
    text-decoration: none;
    color: black;
    line-height: 2.5;
    font-size: 1.2em;
  }
  #navbar a:hover{
    text-decoration: underline;
    color: rgba(60, 179, 150, 1);
    font-size: 1.3em;
    transition: font-size 0.3s;
  }
  #main-doc{
    position: absolute;
    left: 330px;
      font-size: 1.2em;
    line-height: 1.4;
    margin-left: 20px;
  }
  #main-doc header{
    
  }
  main ul{
  margin-left: 20px;
  }
  article{
      margin-left: 20px;
  }
  #variables p{
      margin-left: 20px;
  }
  code{
      background-color:rgba(0, 0, 0, 0.1);
      display: block;
      border: 1px solid black;
      padding: 20px;
      max-width: 80%;
      font-size: medium;
      border-radius: 5px;
    margin: 10px;
  }
  @media  (max-width:700px){
      #navbar header{
          text-align: center;
          border-bottom: 1px solid black;
          width: 100%;
          position: static;
      }
      #navbar{
          position: absolute;
          top:0;
          right: 0;
          left: 0;
          width: auto;
          height:300px;
          border-bottom: 2px solid black;
      }
      #main-doc{
          position: absolute;
          top: 300px;
          left: 0px;
          margin-right: 10px;
      }
      .footer{
          position: fixed;
          bottom: 20px;
          right: 20px;
          background-color: aquamarine;
          width: 40px;
          height: 40px;
          border-radius: 50%;
      }
      .arrow{
          border: solid black;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
          position: absolute;
          bottom: 15px;
          right: 15px;
          
      }
      .footer a{
        text-decoration: none;
        padding: 30%;
        font-size:xx-large;
        color: black;
        
      }
      .footer:hover{
          transform: rotate(-90deg);
          transition: transform 0.2s ease-in;
      }
  }
  
  